*.sw*
*.o
*.mexa64
.nfs*
*.m~
*.mat
experimental
internStuff
journalScripts
switchToOldCode.m
functions/CCodeOld
functions/CCode/CUDA
functions/CCode/newton/run*
functions/CCode/newton/*.c
functions/CCode/newton/valgrind.opt

[alias]
ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
